<div class="container">
    <h1 (ontouchend)="myFunction()">Hola</h1>
    <div class="row">
        <div class="col-12">
            <h3 class="my-3 text-center">Resumen del Pedido</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let item of objects2Print">
                    <div class="deleteButton">
                        <h4>Orden</h4>
                        <div (click)="deleteOrder(item.fiD)" class="delete"></div>
                    </div>

                    <div class="printPrice">
                        <div>
                            <h5>Porción: {{item.fPortion.name}}</h5>

                            <div *ngIf="item.fExtraPortion">
                                <h5>Porciones Extras:</h5>
                                <ul style="list-style: none;">
                                    <li *ngIf="item[0].quantity>0">{{item[0].quantity}}X {{item[0].extraPortionName}}</li>
                                    <li *ngIf="item[1].quantity>0">{{item[1].quantity}}X {{item[1].extraPortionName}}</li>
                                    <li *ngIf="item[2].quantity>0">{{item[2].quantity}}X {{item[2].extraPortionName}}</li>
                                    <li *ngIf="item[3].quantity>0">{{item[3].quantity}}X {{item[3].extraPortionName}}</li>
                                </ul>
                            </div>
                    
                            <div *ngIf="item.fDressingsOrder.cebollaAsada ||
                                        item.fDressingsOrder.chimichurri ||
                                        item.fDressingsOrder.cilantro ||
                                        item.fDressingsOrder.ketchup ||
                                        item.fDressingsOrder.pinaHabanero ||
                                        item.fDressingsOrder.quesoAmarillo ||
                                        item.fDressingsOrder.ranch ||
                                        item.fDressingsOrder.salsaBBQ ||
                                        item.fDressingsOrder.salsaBuffalo ||
                                        item.fDressingsOrder.salsaVerde ||
                                        item.fDressingsOrder.tamarindoPicante
                            ">
                                <h5>Aderezos: </h5>
                                <ul style="list-style: none;">
                                    <li *ngIf="item.fDressingsOrder.cebollaAsada">Cebolla Asada</li>
                                    <li *ngIf="item.fDressingsOrder.chimichurri">Chimichurri</li>
                                    <li *ngIf="item.fDressingsOrder.cilantro">Cilantro</li>
                                    <li *ngIf="item.fDressingsOrder.ketchup">Ketchup</li>
                                    <li *ngIf="item.fDressingsOrder.pinaHabanero">Piña Habanero</li>
                                    <li *ngIf="item.fDressingsOrder.quesoAmarillo">Queso Amarillo</li>
                                    <li *ngIf="item.fDressingsOrder.ranch">Ranch</li>
                                    <li *ngIf="item.fDressingsOrder.salsaBBQ">Salsa BBQ</li>
                                    <li *ngIf="item.fDressingsOrder.salsaBuffalo">Salsa Buffalo</li>
                                    <li *ngIf="item.fDressingsOrder.salsaVerde">Salsa Verde</li>
                                    <li *ngIf="item.fDressingsOrder.tamarindoPicante">Ramarindo Picante</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            {{item.fPrice | currency:'MXN'}}
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h4>Total: {{totalPrice | currency:'MXN'}}</h4>
        </div>
    </div>
    <div class="divisionLine">
    </div>
    <div class="row set">
        <div class="col-12">
            <h3 class="my-3 text-center">Datos de Envío</h3>
            <h6 class="my-2 text-center">Solo envíos dentro de Celaya, Gto, México</h6>
            <h5>Nombre</h5>
            <form #formName="ngForm" (ngSubmit)="onSubmitName(formName)">
                <div class="form-row">
                    <div class="col-lg-10">
                        <label for="name">Nombre del cliente</label>
                        <input type="text" class="form-control" name="name" #nameVal="ngModel" [(ngModel)]="name" required>
                        <span class="text-danger" *ngIf="nameVal.touched && !nameVal.valid">Escribe un nombre para usarlo en tu pedido</span>
                    </div>
                </div>
                <input type="submit" value="Usar este nombre" class="btn btn-primary mt-3" [disabled]="!formName.form.valid"/>
                <div class="form-row mt-3">
                    <div class="col-auto" *ngIf="nameShow!=''">
                        Tu nombre: {{nameShow}} <br>
                        <span class="notice">Si puedes ver este nombre, se usara en tu pedido.</span>
                    </div>
                </div>
            </form>
            <h5 class="mt-3">Dirección</h5>
            <div class="custom-control custom-switch mt-3">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="manualAddress" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Usar dirección de envío escrita manualmente</label>
            </div>
            <form class="mt-3" #formManualAddress="ngForm" *ngIf="manualAddress" (ngSubmit)="onSubmitManualAddress(formManualAddress)">
                <div class="form-row">
                    <div class="col-lg-10">
                        <label for="street">Calle</label>
                        <input type="text" class="form-control" name="street" #streetVal="ngModel" [(ngModel)]="street" required>
                        <span class="text-danger" *ngIf="streetVal.touched && !streetVal.valid">La calle es obligatoria</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-6">
                        <label for="neighborhood">Colonia</label>
                        <input type="text" class="form-control" name="neighborhood" #neighborhoodVal="ngModel" [(ngModel)]="neighborhood" required>
                        <span class="text-danger" *ngIf="neighborhoodVal.touched && !neighborhoodVal.valid">La colonia es obligatoria</span>
                    </div>
                    <div class="col-lg-2">
                        <label for="extNumber">Número Ext.</label>
                        <input type="number" class="form-control" name="extNumber" [(ngModel)]="extNumber" min="0" required>
                    </div>
                    <div class="col-lg-2">
                        <label for="intNumber">Número Int. (Op.)</label>
                        <input type="number" class="form-control" name="intNumber" min="0" [(ngModel)]="intNumber">
                    </div>
                </div>
                <input type="submit" value="Usar esta dirección" class="btn btn-primary mt-3" [disabled]="!formManualAddress.form.valid"/>
                <div class="form-row mt-3">
                    <div class="col-auto" *ngIf="customer.manualAddress!=''">
                        Tu dirección: {{customer.manualAddress}} <br>
                        <span class="notice">Si puedes ver esta dirección, se usara en tu pedido.</span>
                    </div>
                </div>
            </form>
            <div [ngClass]="{hideMap: manualAddress, showMap: !manualAddress}">
                <div class="mt-4" *ngIf="customer">
                    {{customer.address}}
                </div>
                <div id="map"
                    (mouseup)="mouseUp()"
                >
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div><a [routerLink]="['/']" class="text-decoration-none text-light" >Agregar otra order</a></div>
    <div class="d-flex justify-content-center align-items-center sendToWhatsapp" (click)="sendToWhatsapp()" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
        <div [ngClass]="hoverSendToWhatsappImg" class="requestOrder mx-0"></div>
        <div class="mx-1">Solcititar pedido</div>
    </div>
</div>