/* You can add global styles to this file, and also import other style files */
.extraPortionButton{
    padding-top: 19px;
}

.pointerExtraPortion{
    cursor:pointer;
}

.mas{
    width: 32px;
    height: 32px;
    background: url(./app/assets/icons/mas1.png) no-repeat;
}

.mas:hover{
    background: url(./app/assets/icons/mas2.png) no-repeat;
}

.menos{
    width: 32px;
    height: 32px;
    background: url(./app/assets/icons/menos1.png) no-repeat;
}

.menos:hover{
    background: url(./app/assets/icons/menos2.png) no-repeat;
}