/* You can add global styles to this file, and also import other style files */
.extraPortionButton{
    padding-top: 19px;
}

.pointerExtraPortion{
    cursor:pointer;
}

.plus{
    width: 32px;
    height: 32px;
    background: url(./app/assets/icons/mas1.png) no-repeat;
}

.plus:hover{
    background: url(./app/assets/icons/mas2.png) no-repeat;
}

.minus{
    width: 32px;
    height: 32px;
    background: url(./app/assets/icons/menos1.png) no-repeat;
}

.minus:hover{
    background: url(./app/assets/icons/menos2.png) no-repeat;
}

.delete{
    width: 32px;
    height: 32px;
    background: url(./app/assets/icons/delete1.png) no-repeat;
}

.delete:hover{
    background: url(./app/assets/icons/delete2.png) no-repeat;
}

.list li{
    list-style-type: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    z-index: 2;
}

.footer div{
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2px;
}

.set{
    margin-bottom: 72px;
}

.deleteButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.printPrice{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#map{
    width: auto;
    height: 100%;
    border-style: groove;
    z-index:1;
}

.hideMap{
    height: 1px;
    visibility: hidden;
}

.showMap{
    height: 500px;
    margin-bottom: 45px;
}

.notice{
    font-size: 10px;
    font-weight: bold;
}

.divisionLine{
    width: auto;
    border-bottom: 3px solid #DCDCDC;
    margin-top: 30px;
    margin-bottom: 15px;
}